@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
.App {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin-left: 4rem;
}
.sidebar {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 3vw;
  display: flex;
  flex-direction: column;
  background-color: #003655;
  padding: 2rem 1rem;
}
.sidebar-logo {
  color: white;
  margin-bottom: 25px;
}

.sidebar-logo:hover {
  margin-left: 5px;
}
.calender {
  margin: 2rem 0rem;
  height: auto;
  width: 50%;
  font-family: inherit;
  border: 1px solid #303030;
}
.time-booker {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
}
.text-headline {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  color: black;
}
.logo-text {
  text-transform: uppercase;
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.navbar {
  margin-right: 2rem;
}

.category-menu {
  margin: 0rem;
  height: 2rem;
  width: auto;
  display: flex;
}
.category-menu_list {
  display: flex;
  padding-left: 0rem;
  margin-left: 0rem;
  flex-direction: row;
  list-style: none;
}
.category-menu_list-item {
  margin-left: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.category-menu_list a {
  text-decoration: none;
  color: #00101a;
}
.section_time {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-picker_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: none;
  margin: 2rem 0rem;
}
.time-booker-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.time-picker_label {
  font-weight: 600;
  text-transform: uppercase;
}
.location-dropmenu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2rem 0rem;
}
.btn {
  margin-right: 2rem;
}
button {
}
.checkboxes-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
}
.time-booker-left_dropdowns {
  display: flex;
  flex-direction: row;
}
.menu {
  text-decoration: none;
  border: none !important;
  margin-left: 2rem !important;
  padding-left: 0rem !important;
}
.menu-item {
  margin-left: 0rem !important;
}
.calendar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.calender-mine {
  display: flex;
  margin-left: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.calender_svg {
  height: 60vh;
  width: auto;
}
.legend_svg {
  margin-left: 2rem;
}
